html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 1rem;
}

main ol {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

img {
  width: 100%;
}
